CalculatorService.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tp1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tp1/" name="TestService">
<types>
<xsd:schema>
<xsd:import namespace="http://tp1/" schemaLocation="http://localhost:8500/?xsd=1"/>
</xsd:schema>
</types>
<message name="text">
<part name="parameters" element="tns:text"/>
</message>
<message name="textResponse">
<part name="parameters" element="tns:textResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<portType name="CalculatorService">
<operation name="text">
<input wsam:Action="http://tp1/CalculatorService/textRequest" message="tns:text"/>
<output wsam:Action="http://tp1/CalculatorService/textResponse" message="tns:textResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://tp1/CalculatorService/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://tp1/CalculatorService/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="mult">
<input wsam:Action="http://tp1/CalculatorService/multRequest" message="tns:mult"/>
<output wsam:Action="http://tp1/CalculatorService/multResponse" message="tns:multResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://tp1/CalculatorService/divRequest" message="tns:div"/>
<output wsam:Action="http://tp1/CalculatorService/divResponse" message="tns:divResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://tp1/CalculatorService/addRequest" message="tns:add"/>
<output wsam:Action="http://tp1/CalculatorService/addResponse" message="tns:addResponse"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="text">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://localhost:8500/"/>
</port>
</service>
</definitions>